/* ignore the CSS, it's mainly for looks */
body{
  margin: 0;
  padding: 0;
  background-color: rgba(22,34,57,0.85);
}

.org-1{
  border-radius: 100%;
  
}
table {
  background-color: rgba(22,34,57,0.85);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 80px;
  
}

td {
  padding-bottom: 20px;
 
}

img {
  width: 12rem;
  height: 12rem;
  border-radius: 100%;


}
.text-1{
  text-decoration: none;
  font-size: large;
  border-radius: 34%;
  background-color: rgba(22,34,57,0.85);
  color: white

}
@media  (max-width: 802px) {
  .org-1 {
    display: grid;
   grid-template-columns: auto auto;
  }
}
@media  (max-width: 448px) {
  .org-1 {
    display: grid;
   grid-template-columns: auto auto;
  }
  img {
      width: 9rem;
      height: 9rem;
      border-radius: 100%;
    
  
    }
}